body {
      font-family: 'Lucida Sans', Arial, sans-serif;
      background-repeat: no-repeat;
      width: auto;
      height: 100%;
      overflow-x: hidden;
    }

    .navbar {
      background-color: rgba(233, 233, 233, 0.377);
    }

    /* .home-container{
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
} */

    .jumbotron {
      /* background-image: url('../src/img/horse-back2.jpg'); */
      background-image: url('../src/Images/horse.png');
      background-size: 700px;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-color: white;
      text-align: center;
      margin-bottom: 0%;
      padding-top: 200px;
      padding-bottom: 350px;

    }

    .jumbo-home {
      background-image: url('../src/img/pallet.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      color: white;
      opacity: .8;
      padding-top: 200px;
      padding-bottom: 200px;
      height: auto;
    }

    .jumbo-showcase {
      background-image: url('../src/img/zebra.jpg');
      background-size: contain;
      text-align: justify;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      color: black;
      opacity: .8;
      padding-top: 375px;
      padding-bottom: 375px;
      height: auto;
    }


    .jumbotron-2 {
      text-align: center;
      margin-bottom: 80px;
      padding-top: 50px;
      padding-bottom: 0px;
      padding-right: 10px;
      padding-left: 10px;
    }

    .jumbotron-3 {
      background-color: rgba(233, 233, 233, 0.377);
      padding-bottom: 50px;
      padding-top: 50px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
    }

    .jumbotron-4 {
      background-color: rgba(233, 233, 233, 0.377);

      padding-bottom: 50px;
      padding-top: 50px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
    }

    .jumbotron-5 {
      background-color: rgba(233, 233, 233, 0.377);
      margin-top: 650px;
      padding-bottom: 50px;
      padding-top: 50px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
    }

    .jumbotron-contact {
      background-color: rgba(233, 233, 233, 0.377);
      padding-bottom: 50px;
      padding-top: 50px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
    }

    .center {
      text-align: center;
    }

    .fa.fa-facebook-square {
      font-size: 50px;
      color: rgb(59, 59, 59);
      margin-right: 10px;
    }

    .fa.fa-instagram {
      font-size: 50px;
      color: rgb(59, 59, 59);

    }

    .card-row-item {
      text-align: center;

    }

    .row .card-row-item {
      margin: 10px;
    }

    img {
      width: 200px;
      height: auto;
    }

    #gallery {
      text-align: center;
    }


    .gallery {
      margin: 10px 50px;
      text-align: center;
    }

    .gallery img {
      transition: 1s;
      padding: 15px;
      width: 200px;
      text-align: center;
    }

    .gallery img:hover {
      filter: grayscale(100%);
      transform: scale(1.1);
    }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }
}