@media only screen and (max-width: 3200px) {
body {
  background-image: url("./Images/horse.png");
  background-size: 1000px;
  width: 100%;
  height: auto;
  background-repeat:no-repeat;
  background-position:top;
}
.navbar {
  background-color: rgba(233, 233, 233, 0.377);
}

.jumbotron {
  background-color: rgba(233, 233, 233, 0.699);
  text-align: center;
  /* margin-top: -5vh; */
}
.jumbotron-2 {
  text-align: center;
  margin-top: 530px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}
.jumbotron-3 {
  background-color: rgba(233, 233, 233, 0.377);
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
.jumbotron-4 {
  background-color: rgba(233, 233, 233, 0.377);
  margin-top: 650px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.jumbotron-5 {
  background-color: rgba(233, 233, 233, 0.377);
  margin-top: 650px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
.center {
  text-align: center;
}

.fa.fa-facebook-square {
  font-size: 50px;
  color: rgb(59, 59, 59);
  margin-right: 10px;
}

.fa.fa-instagram {
  font-size: 50px;
  color: rgb(59, 59, 59);
  
}

.card-row-item {
text-align: center;
  
}

.row
.card-row-item {
  margin: 10px;
}
img {
  width: 200px;
  height: auto;
}
#gallery {
  text-align: center;
}


.gallery {
  margin: 10px 50px;
  text-align: center;
}

.gallery img{
  transition: 1s;
  padding: 15px;
  width: 200px;
  text-align: center;
}
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

}
